<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./Styles.css" />
</head>
<body>
    <h1 class="titles">Maths Quiz Application</h1>
    <div class="main-container">
        @RenderBody()
    </div>
    
</body>
</html>