################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Movies Tutorial Page/.vs/Movies Tutorial Page/FileContentIndex/48dd10c3-8ee2-4347-ad3f-4d98b24acbb4.vsidx
