################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Razor-Pages/FileContentIndex/e49ab83b-ba1a-437b-bf2d-ede678d605bd.vsidx
/.vs/Razor-Pages/FileContentIndex/91979464-1f98-4a16-9595-4f1abd7ebed0.vsidx
/.vs/Razor-Pages/v17/.wsuo
*.vsidx
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/Razor-Pages/v17/workspaceFileList.bin
/Movies Tutorial Application/.vs/Movies Tutorial Application/v17/.suo
/Movies Tutorial Application/.vs/Movies Tutorial Application/v17/DocumentLayout.json
/Movies Tutorial Application/.vs/Movies Tutorial Application/DesignTimeBuild/.dtbcache.v2
/Movies Tutorial Application/.vs/Movies Tutorial Application/v17/DocumentLayout.backup.json
/Movies Tutorial Application/.vs/Movies Tutorial Application/v17/.futdcache.v2
/Movies Tutorial Application/.vs/ProjectEvaluation
/Movies Tutorial Application/.vs/ProjectEvaluation/movies tutorial application.metadata.v9.bin
/Movies Tutorial Application/.vs/ProjectEvaluation/movies tutorial application.projects.v9.bin
/Movies Tutorial Application/.vs/ProjectEvaluation/movies tutorial application.strings.v9.bin
