<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - AirFryerConversion</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">


</head>
<body class="light-theme">
    <div class="container">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
