@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mainElement">
    <img src="/Images/MovieIndex.png" />
    <h1 id="indexTitle"> Movies Application Project</h1>
</div>

<div class="TheThreeCards">
    <div class="card">
        <img src="/Images/New.png" id="newImage"/>
        <h1> Latest Added</h1>
        <div id="inline">
            <h2>Title:</h2>
            <h3>@Model.LatestTitle</h3>
        </div>

        <div id="inline">
            <h2>Genre:</h2>
            <h3>@Model.LatestGenre</h3>
        </div>

        <div id="inline">
            <h2>Price:</h2>
            <h3>£@Model.LatestPrice</h3>
        </div>
    </div>
    <div class="card"></div>
    <div class="card"></div>
</div>