@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mainElement">
    <img src="/Images/MovieIndex.png" />
    <h1 id="indexTitle"> Movies Application Project</h1>
</div>

<div class="TheThreeCards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>