@font-face {
    font-family: 'F1Font';
    src: url('/Fonts/Regular.ttf') format('truetype');
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'F1Font';
    src: url('/Fonts/Bold.ttf') format('truetype');
    font-weight: 700; /* bold */
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'F1Font', sans-serif;
    color: white;
    font-weight: 700;
    margin: 5px;
    font-size: 1.5em;
}

p {
    font-family: 'F1Font', sans-serif;
    color: white;
    font-weight: 400;
    margin: 5px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 250px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}