@page
@model QuizWebAppV2.Pages.LevelSelectModel
@{
}
<body>
    <h1 class="titles">Please select Your Difficulty</h1>
    <form method="post">
        <button type="submit" name="selectedDifficulty" value="Easy" class="difficulty-button easy">Easy</button>
        <button type="submit" name="selectedDifficulty" value="Medium" class="difficulty-button medium">Medium</button>
        <button type="submit" name="selectedDifficulty" value="Hard" class="difficulty-button hard">Hard</button>
    </form>
</body>
