@page
@model QuizWebAppV2.Pages.NumberOfQuestionsModel
@{
}
<body>

    <form id="start-quiz-form" method="post">
        <input type="number" name="NumOfQ" class="input-field" placeholder="Enter number of questions" required min="1" />
        <button class="submit-button">SUBMIT</button>
    </form>

</body>