html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainElement {
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    gap: 10px; /* Optional: Adds spacing between items */
}

.mainElement img {
        max-width: 100%; /* Ensures the image is responsive */
        height: auto;
}

.mainElement h1 {
    margin: 0; /* Removes default margins */
}

.TheThreeCards {
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    gap: 10px; /* Optional: Adds spacing between items */
    margin-top: 10px;

}

.card {
    width: 350px;
    height: 500px;
    margin: 20px;
    align-items: center;
    font-size: 10px;
    gap: 15px;
    border: 2px solid black;
    border-radius: 25px;
}

#newImage {
    padding-top: 10px;
    max-width: 50%;
    max-height: 50%
}

#inline {
    display: inline-flex;
    align-items: center;
    gap: 10px; /* Adds spacing between h2 and h3 */
}