.country-column {
    width: 25rem;
    height: 18.75rem;
}

.country-img {
    opacity: 0.4;
}

.zoom-hover:hover {
    transform: scale(1.1);
}

.zoom-hover {
    transition: transform 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: greenyellow;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}
