.country-column {
    width: 25rem;
    height: 18.75rem;
}

.country-img {
    opacity: 0.4;
}

.zoom-hover:hover {
    transform: scale(1.1);
}

.zoom-hover {
    transition: transform 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.correct-overlay-background {
    background-color: rgb(114 252 101 / 30%);
}

.wrong-overlay-background {
    background-color: rgb(255 0 0 / 30%);
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay-icon {
    display: block;
    width: 200px;
    height: 200px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.overlay.active .overlay-icon {
    transform: scale(1);
}

.play-button {
    height: 200px;
    width: 400px;
    border-radius: 25px;
    border: 2px solid #1F3A5A;
    background-color: #1F3A5A;
    color: white;
    font-size: 75px;
    font-weight: bold;
}

@keyframes bounce{
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}

.bounce{
    animation: 1s infinite alternate bounce;
}

.icon {
    border-radius: 25px;
    margin-bottom: 75px;
}

body {
    background-image: url('/Images/background-image.svg');
    background-size: cover; /* Scales to cover viewport */
    background-position: center;
    background-repeat: no-repeat;
}