.country-column {
    width: 25rem;
    height: 18.75rem;
}

.country-img {
    opacity: 0.4;
}

.zoom-hover:hover {
    transform: scale(1.1);
}

.zoom-hover {
    transition: transform 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.correct-overlay-background {
    background-color: rgb(114 252 101 / 30%);
}

.wrong-overlay-background {
    background-color: rgb(255 0 0 / 30%);
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay-icon {
    display: block;
    width: 200px;
    height: 200px;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.overlay.active .overlay-icon {
    transform: scale(1);
}

