@page "/"
@model LessOrMoreGame.Pages.HomepageModel
@{
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-auto d-flex flex-column align-items-center">
        <div >
            <img src="/Images/Icon.png" class="icon" />
        </div>
        <div class="bounce">
            <button type="button" class="play-button" onclick="window.location.href='/Game'">PLAY</button>
        </div>
        <div>
            <button type="button" class="leaderboard-button" onclick="window.location.href='/Game'">Leaderboard</button>
        </div>
    </div>
</div>