@page "/"
@model LessOrMoreGame.Pages.HomepageModel
@{
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="bounce">
        <button type="button" class="play-button">PLAY</button>
    </div>
</div>