@page
@using LessOrMoreGame.Models
@using LessOrMoreGame.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (Country country in Model.Countries)
{
    <h2>@country.Name</h2>
}