@page
@using LessOrMoreGame.Models
@using LessOrMoreGame.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card bg-dark text-white" style="width: 25rem; height: 25rem;  ">
    <img class="card-img" src="@Model.Country1.ImageSource" style="opacity: 0.3;">
    <div class="card-img-overlay">
        <h5 class="card-title">@Model.Country1.Name</h5>
    </div>
</div>

<div class="card bg-dark text-white" style="width: 25rem; height: 25rem">
    <img class="card-img" src="@Model.Country2.ImageSource">
    <div class="card-img-overlay">
        <h5 class="card-title">@Model.Country2.Name</h5>
    </div>
</div>