@page
@using LessOrMoreGame.Models
@using LessOrMoreGame.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row justify-content-center align-items-center h-100 d-flex">

        <div class="col-auto">
            <div class="card bg-dark text-white country-column zoom-hover">
                <img class="card-img country-img" src="@Model.Country1.ImageSource">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h2 class="card-title text-center">@Model.Country1.Name</h2>
                </div>
            </div>
        </div>

        <div class="col-auto">
            <div class="card bg-dark text-white country-column zoom-hover">
                <img class="card-img country-img" src="@Model.Country2.ImageSource">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h2 class="card-title text-center">@Model.Country2.Name</h2>
                </div>
            </div>
        </div>

    </div>
</div>