@page
@using LessOrMoreGame.Models
@using LessOrMoreGame.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (Country country in Model.Countries)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">@country.Name</h2>
        </div>
    </div>
}