@page
@using LessOrMoreGame.Models
@model LessOrMoreGame.Pages.LeaderboardModel
@{
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="row justify-content-center align-items-center">
        <div class="card-leaderboard">
            <div class="card-body">
                <h1 class="card-title-leaderboard">Leaderboard</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int position = 0; position < @Model._Leaderboard.Count(); position++)
                        {
                            <tr>
                                <th scope="row">@(position+1)</th>
                                <td>@Model._Leaderboard[position].Name</td>
                                <td>@Model._Leaderboard[position].Score</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-center">
                    <button type="button" class="back-button" onclick="window.location.href='/'">Back</button>
                </div>

            </div>
        </div>
    </div>
</div>