@page
@model QuizWebAppV2.Pages.NumberOfQuestionsModel
@{
}
<form id="start-quiz-form" method="post">
    <input type="number" name="NumberOfQuestions" class="input-field" placeholder="Enter number of questions" required min="1" max="10"/>
    <button class="submit-button">SUBMIT</button>
</form>
